<div class="col">
    <div class="card">
        <h5 class="card-header">
            Monthly budget
        </h5>
        <div class="card-body p-0">
            <div class="row m-0 col-border-xl">
                <div class="col-md-2 p-20">
                    <div class="card-body p-0">
                        <h6>Total Income</h6>
                        <span class="h3 text-primary">$86,350</span>
                        <h6 class="m-t-20">Total Expenses</h6>
                        <span class="h3 text-danger">$28,300</span>
                        <h6 class="m-t-20 p-b-5">Top Expenses</h6>
                        <ul class="list-reset">
                            <li class="p-b-10">
                                Housing
                                <span class="float-right">$12,300</span>
                            </li>
                            <li class="p-b-10">
                                Cars
                                <span class="float-right">$3,650</span>
                            </li>
                            <li>
                                AT&T
                                <span class="float-right">$1,800</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="card-body">
                        <div id="monthly-budget-2">
                            <div id="monthly-budget-content-2" style="height: 350px">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>