 <div class="card">
    <h5 class="card-header">상표 분류 비율</h5>
    <div class="card-body p-10">
        <div id="total-revenue" style="height:290px"></div>
    </div>
    <div class="card-footer">
        <ul class="list-reset list-inline-block text-center">
            <li class="text-muted text-info m-r-10"><i class="badge badge-info m-r-5 badge-circle w-10 h-10"></i>등록</li>
            <li class="text-muted text-secondary m-r-10"><i class="badge badge-secondary m-r-5  badge-circle w-10 h-10"></i>소멸</li>
            <li class="text-muted text-accent m-r-10"><i class="badge badge-accent m-r-5  badge-circle w-10 h-10 "></i>거절</li>
            <li class="text-muted text-primary m-r-10 "><i class="badge badge-primary m-r-5  badge-circle w-10 h-10 "></i>기타</li>
        </ul>
    </div>
</div>
