<section class="page-content container-fluid" id="reference">
    <div class="row">
        <div class="col">
            <div class="card text-center" id="packages">

                <h5 class="card-header">데이터 출처</h5>
                <div class="card-body">
                    <p>공공데이터, 키프리스, 디자인맵 등의 웹페이지와 API, 이미지를 활용했습니다.</p>
                    <div class="togglebutton m-t-20 ">
                        <label>
                            <input type="checkbox" class="js-switch" id="toggle-price" />
                            <span class="toggle"></span><span class="p-l-10">상세 정보 확인</span>
                        </label>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-sm-12">
            <div class="pricing-wrapper container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card-container">
                            <div class="card card-flip pricing-card">
                                <div class="card-front">
                                    <div class="card-heading">
                                        <div class="card-title">
                                            <img width="150px" src="../static/assets/img/datagokr.png" />
                                        </div>
                                    </div>
                                    <div class="card-body p-0">
                                        <ul class="list-group list-group-flush text-center">
                                            <li class="list-group-item">공공 데이터를 제공</li>
                                            <li class="list-group-item">파일데이터, 오픈API, 시각화</li>
                                            <li class="list-group-item">정형화된 데이터로 활용이 쉬움</li>
                                        </ul>
                                    </div>
                                    <div class="card-footer text-center ">
                                        <a href="http://data.go.kr"><button class="btn btn-primary btn-rounded btn-floating">웹페이지로 연결</button></a>
                                    </div>
                                </div>
                                <div class="card-back">
                                    <div class="card-heading">
                                        <div class="card-title">
                                            <span class="pricing-title text-primary">공공데이터</span>
                                        </div>
                                    </div>
                                    <div class="card-body p-0">
                                        <ul class="list-group list-group-flush text-center">
                                            <li class="list-group-item">상표정보(XML)</li>
                                            <li class="list-group-item">특허/실용실안 공보(XML)</li>
                                            <li class="list-group-item">상표정보 검색 서비스(XML)</li>
                                        </ul>
                                    </div>
                                    <div class="card-footer text-center ">
                                        <a href="http://data.go.kr"><button class="btn btn-primary btn-rounded btn-floating">웹페이지로 연결</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card-container">
                            <div class="card card-flip pricing-card">
                                <div class="card-front feature-pricing-card">
                                    <div class="card-heading">
                                        <div class="card-title">
                                            <img width="150px" src="../static/assets/img/kipris.png" />
                                        </div>
                                    </div>
                                    <div class="card-body p-0">
                                        <ul class="list-group list-group-flush text-center">
                                            <li class="list-group-item">정부 운영 상표 DB 서비스</li>
                                            <li class="list-group-item">지식 재산권 관련 정보 제공</li>
                                            <li class="list-group-item">이용자 수준에 맞는 검색 기능</li>
                                        </ul>
                                    </div>
                                    <div class="card-footer text-center ">
                                        <a href="http://kipris.or.kr"><button class="btn btn-accent btn-rounded btn-floating">웹페이지로 연결</button></a>
                                    </div>
                                </div>
                                <div class="card-back feature-pricing-card">
                                    <div class="card-heading">
                                        <div class="card-title">
                                            <span class="pricing-title text-accent">키프리스</span>
                                        </div>
                                    </div>
                                    <div class="card-body p-0">
                                        <ul class="list-group list-group-flush text-center">
                                            <li class="list-group-item">문서자료(PDF, csv)</li>
                                            <li class="list-group-item">출원정보(Unique ID)</li>
                                            <li class="list-group-item">상품 분류(Category)</li>
                                        </ul>
                                    </div>
                                    <div class="card-footer text-center ">
                                        <a href="http://kipris.or.kr"><button class="btn btn-accent btn-rounded btn-floating">웹페이지로 연결</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card-container">
                            <div class="card card-flip pricing-card">
                                <div class="card-front">
                                    <div class="card-heading">
                                        <div class="card-title">
                                            <img width="150px" src="../static/assets/img/designmap.png" />
                                        </div>
                                    </div>
                                    <div class="card-body p-0">
                                        <ul class="list-group list-group-flush text-center">
                                            <li class="list-group-item">특허청이 보유한 디자인 정보 DB</li>
                                            <li class="list-group-item">지식 재산권 정보를 가공, 분석</li>
                                            <li class="list-group-item">이미지 맵핑, 통계 분석 기능 제공</li>
                                        </ul>
                                    </div>
                                    <div class="card-footer text-center ">
                                        <a href="http://designmap.or.kr"><button class="btn btn-primary btn-rounded btn-floating">웹페이지로 연결</button></a>
                                    </div>
                                </div>
                                <div class="card-back">
                                    <div class="card-heading">
                                        <div class="card-title">
                                            <span class="pricing-title text-primary">디자인맵</span>
                                        </div>
                                    </div>
                                    <div class="card-body p-0">
                                        <ul class="list-group list-group-flush text-center">
                                            <li class="list-group-item">이미지 정보(png, jpg)</li>
                                            <li class="list-group-item">웹 정보(url)</li>
                                            <li class="list-group-item">부가 정보(text)</li>
                                        </ul>
                                    </div>
                                    <div class="card-footer text-center ">
                                        <a href="http://designmap.or.kr"><button class="btn btn-primary btn-rounded btn-floating">웹페이지로 연결</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>