<section class="page-content container-fluid" id="analysis">
    <div class="row">
        <div class="col-12">
            <div class="card text-center" id="packages">
                <h5 class="card-header">데이터 분석</h5>
            </div>
            {%- include "graph/mini.html" %}
        </div>
    </div>
{#    <div class="row">#}
{#        {%- include "graph/monthlybudget.html"  %}#}
{#        {%- include "graph/auditlog.html"  %}#}
{#    </div>#}
    <div class="row">
        <div class="col-12">
            <div class="card-deck m-b-30">
            {%- include "graph/userchart.html"  %}
            {%- include "graph/twograph.html"  %}
            </div>
        </div>
    </div>
    <div class="row">
        {%- include "graph/lineargraph.html"  %}
        {%- include "graph/lineargraph2.html"  %}
    </div>
{#    <div class="row">#}
{#        {%- include "graph/overview.html"  %}#}
{#    </div>#}
    <div class="row">
        {%- include "graph/table.html"  %}
    </div>
    <div class="row">
{#        {%- include "graph/dynamicgraph.html"  %}#}
    </div>
</section>