<section class="page-content container-fluid" id="similar_list" >
    <div class="row">
        <div class="col-12">
            <div class="card text-center" id="packages">
                <h5 class="card-header">유사도 리스트</h5>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card-deck col-12">
            <div class="card">
                <img class="card-img-top px-5 py-5"  src="{% if sql_obj|length == 0  %}static/assets/img/list/lg.png{% else %} {{ sql_obj[0]['bigdraw'] }}{% endif %}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{% if sql_obj|length == 0  %}유사도 1순위{% else %}등록번호:{{ sql_obj[0]['applicationnumber'] }}{% endif %}</h5>
                    <p class="card-text">{% if sql_obj|length == 0  %}설명1{% else %}등록자:{{ sql_obj[0]['applicationname'] }}{% endif %}</p>
                    <p class="card-text">{% if sql_obj|length == 0  %}설명1{% else %}상태:{{ sql_obj[0]['applicationstatus'] }}{% endif %}</p>
                    <p class="card-text"><small class="text-muted">{% if turi|length == 0  %}0{% else %}유사도 확률:{{100 - (2 * turi[0])|round(2)}} %{% endif %}</small></p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top px-5 py-5" src='{% if sql_obj|length == 0  %}static/assets/img/list/sk.png{% else %} {{ sql_obj[1]['bigdraw'] }} {% endif %}' alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{% if sql_obj|length == 0  %}유사도 2순위{% else %}등록번호:{{ sql_obj[1]['applicationnumber'] }}{% endif %}</h5>
                    <p class="card-text">{% if sql_obj|length == 0  %}설명2{% else %}등록자:{{ sql_obj[1]['applicationname'] }}{% endif %}</p>
                    <p class="card-text">{% if sql_obj|length == 0  %}설명2{% else %}상태:{{ sql_obj[1]['applicationstatus'] }}{% endif %}</p>
                    <p class="card-text"><small class="text-muted">{% if turi|length == 0  %}0{% else %}유사도 확률:{{100 - (2 * turi[1])|round(2)}} %{% endif %}</small></p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top px-5 py-5" src='{% if sql_obj|length == 0  %}static/assets/img/list/hy.jpg{% else %} {{ sql_obj[2]['bigdraw'] }} {% endif %}' alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{% if sql_obj|length == 0  %}유사도 3순위{% else %}등록번호:{{ sql_obj[2]['applicationnumber'] }}{% endif %}</h5>
                    <p class="card-text">{% if sql_obj|length == 0  %}설명3{% else %}등록자:{{ sql_obj[2]['applicationname'] }}{% endif %}</p>
                    <p class="card-text">{% if sql_obj|length == 0  %}설명3{% else %}상태:{{ sql_obj[2]['applicationstatus'] }}{% endif %}</p>
                    <p class="card-text"><small class="text-muted">{% if turi|length == 0  %}0{% else %}유사도 확률:{{100 - (2 * turi[2])|round(2)}} %{% endif %}</small></p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="page-content container-fluid">
    <div class="row">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-8">
            <div class="card">
                <h5 class="card-header">순위 밖 이미지 리스트</h5>
                <div class="card-body p-0 ">
                    <div id="carouselExampleIndicators3" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators3" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators3" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators3" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="card">
                                    <img class="card-img-top px-5 py-5"  src="{% if sql_obj|length == 0  %}static/assets/img/list/adidas.png{% else %} {{ sql_obj[3]['bigdraw'] }}{% endif %}" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">{% if sql_obj|length == 0  %}유사도 4순위{% else %}등록번호:{{ sql_obj[3]['applicationnumber'] }}{% endif %}</h5>
                                        <p class="card-text">{% if sql_obj|length == 0  %}설명4{% else %}등록자:{{ sql_obj[3]['applicationname'] }}{% endif %}</p>
                                        <p class="card-text">{% if sql_obj|length == 0  %}설명4{% else %}상태:{{ sql_obj[3]['applicationstatus'] }}{% endif %}</p>
                                        <p class="card-text"><small class="text-muted">{% if turi|length == 0  %}0{% else %}유사도 확률:{{100 - (2 * turi[3])|round(2)}} %{% endif %}</small></p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="card">
                                    <img class="card-img-top px-5 py-5"  src="{% if sql_obj|length == 0  %}static/assets/img/list/amazon.jpg{% else %} {{ sql_obj[4]['bigdraw'] }}{% endif %}" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">{% if sql_obj|length == 0  %}유사도 5순위{% else %}등록번호:{{ sql_obj[4]['applicationnumber'] }}{% endif %}</h5>
                                        <p class="card-text">{% if sql_obj|length == 0  %}설명5{% else %}등록자:{{ sql_obj[4]['applicationname'] }}{% endif %}</p>
                                        <p class="card-text">{% if sql_obj|length == 0  %}설명5{% else %}상태:{{ sql_obj[4]['applicationstatus'] }}{% endif %}</p>
                                        <p class="card-text"><small class="text-muted">{% if turi|length == 0  %}0{% else %}유사도 확률:{{100 - (2 * turi[4])|round(2)}} %{% endif %}</small></p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="card">
                                    <img class="card-img-top px-5 py-5"  src="{% if sql_obj|length == 0  %}static/assets/img/list/mac.png{% else %} {{ sql_obj[5]['bigdraw'] }}{% endif %}" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">{% if sql_obj|length == 0  %}유사도 6순위{% else %}등록번호:{{ sql_obj[5]['applicationnumber'] }}{% endif %}</h5>
                                        <p class="card-text">{% if sql_obj|length == 0  %}설명6{% else %}등록자:{{ sql_obj[5]['applicationname'] }}{% endif %}</p>
                                        <p class="card-text">{% if sql_obj|length == 0  %}설명6{% else %}상태:{{ sql_obj[5]['applicationstatus'] }}{% endif %}</p>
                                        <p class="card-text"><small class="text-muted">{% if turi|length == 0  %}0{% else %}유사도 확률:{{100 - (2 * turi[5])|round(2)}} %{% endif %}</small></p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="card">
                                    <img class="card-img-top px-5 py-5"  src="{% if sql_obj|length == 0  %}static/assets/img/list/mi.png{% else %} {{ sql_obj[6]['bigdraw'] }}{% endif %}" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">{% if sql_obj|length == 0  %}유사도 7순위{% else %}등록번호:{{ sql_obj[6]['applicationnumber'] }}{% endif %}</h5>
                                        <p class="card-text">{% if sql_obj|length == 0  %}설명7{% else %}등록자:{{ sql_obj[6]['applicationname'] }}{% endif %}</p>
                                        <p class="card-text">{% if sql_obj|length == 0  %}설명7{% else %}상태:{{ sql_obj[6]['applicationstatus'] }}{% endif %}</p>
                                        <p class="card-text"><small class="text-muted">{% if turi|length == 0  %}0{% else %}유사도 확률:{{100 - (2 * turi[6])|round(2)}} %{% endif %}</small></p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="card">
                                    <img class="card-img-top px-5 py-5"  src="{% if sql_obj|length == 0  %}static/assets/img/list/nike.jpg{% else %} {{ sql_obj[7]['bigdraw'] }}{% endif %}" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">{% if sql_obj|length == 0  %}유사도 8순위{% else %}등록번호:{{ sql_obj[7]['applicationnumber'] }}{% endif %}</h5>
                                        <p class="card-text">{% if sql_obj|length == 0  %}설명8{% else %}등록자:{{ sql_obj[7]['applicationname'] }}{% endif %}</p>
                                        <p class="card-text">{% if sql_obj|length == 0  %}설명8{% else %}상태:{{ sql_obj[7]['applicationstatus'] }}{% endif %}</p>
                                        <p class="card-text"><small class="text-muted">{% if turi|length == 0  %}0{% else %}유사도 확률:{{100 - (2 * turi[7])|round(2)}} %{% endif %}</small></p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="card">
                                    <img class="card-img-top px-5 py-5"  src="{% if sql_obj|length == 0  %}static/assets/img/list/apple.png{% else %} {{ sql_obj[8]['bigdraw'] }}{% endif %}" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">{% if sql_obj|length == 0  %}유사도 9순위{% else %}등록번호:{{ sql_obj[8]['applicationnumber'] }}{% endif %}</h5>
                                        <p class="card-text">{% if sql_obj|length == 0  %}설명9{% else %}등록자:{{ sql_obj[8]['applicationname'] }}{% endif %}</p>
                                        <p class="card-text">{% if sql_obj|length == 0  %}설명9{% else %}상태:{{ sql_obj[8]['applicationstatus'] }}{% endif %}</p>
                                        <p class="card-text"><small class="text-muted">{% if turi|length == 0  %}0{% else %}유사도 확률:{{100 - (2 * turi[8])|round(2)}} %{% endif %}</small></p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="card">
                                    <img class="card-img-top px-5 py-5"  src="{% if sql_obj|length == 0  %}static/assets/img/list/sony.jpg{% else %} {{ sql_obj[9]['bigdraw'] }}{% endif %}" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">{% if sql_obj|length == 0  %}유사도 10순위{% else %}등록번호:{{ sql_obj[9]['applicationnumber'] }}{% endif %}</h5>
                                        <p class="card-text">{% if sql_obj|length == 0  %}설명10{% else %}등록자:{{ sql_obj[9]['applicationname'] }}{% endif %}</p>
                                        <p class="card-text">{% if sql_obj|length == 0  %}설명10{% else %}상태:{{ sql_obj[9]['applicationstatus'] }}{% endif %}</p>
                                        <p class="card-text"><small class="text-muted">{% if turi|length == 0  %}0{% else %}유사도 확률:{{100 - (2 * turi[9])|round(2)}} %{% endif %}</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators3" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators3" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
