<section class="page-content container-fluid" id="search_image">
    <div class="row">
        <div class="col-12">
            <div class="card text-center" id="packages">
                <h5 class="card-header">이미지 검색</h5>
            </div>
        </div>
        <div class="col-md-2">
        </div>
        <div class="col-sm-12 col-md-8">
            <div class="card">
                <img class="card-img px-5 py-5" src= "{{ file_url or 'static/assets/file-upload/samsung.jpg' }}" alt="Card image"/>
                <div class="card-body text-center">
                    <a href="/start" class="btn btn-primary btn-rounded btn-lg" style="bottom:30px;right:15px;">
                        분석 시작
                    </a>
                </div>
            </div>
        </div>
    </div>
 </section>
