<section class="page-content container-fluid" id="upload">
    <div class="row">
        <div class="col">
            <div class="card text-center" id="packages">
                <h5 class="card-header">이미지 업로드</h5>
            </div>
            <div class="card" data-widget="dropzone">
                <div class="card-body min-h-400">
                    {{ dropzone.create(action_view='upload') }}
                    {{ dropzone.load_js() }}
                    {{ dropzone.config() }}
                </div>
            </div>
        </div>
    </div>
</section>