@import url("http://fonts.googleapis.com/earlyaccess/notosanskr.css");
@import url("http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css");
video {
  z-index: -1;
  object-fit: cover;
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  opacity: 0.8;
}

#matrix {
    z-index: -1;
    background-image: url("https://media.giphy.com/media/ko7twHhomhk8E/giphy.gif");
    background-size: cover;
}

.intro-img{
    position: relative;
    background-image: url("../../img/intro.jpg");
    height: 400px;
}

.img-cover{
   position: absolute;
   height: 100%;
   width: 100%;
   background-color: rgba(0, 0, 0, 0.4);
   z-index:1;
}

.intro-img .img-content{
     position: absolute;
     top:50%;
     left:50%;
     transform: translate(-50%, -50%);
     font-size:2rem;
     color: white;
     z-index: 2;
     text-align: center;
     font-family: "Noto Sans KR", serif ;
     font-weight: 500;
}

.intro-img .img-content p{
     color: white;
     font-size:2.5rem;
     font-family: "Noto Sans KR", serif ;
     font-weight: 700;
}

.card-header{
    font-size: 3rem;
    font-family: "Noto Sans KR", serif;
    font-weight: 400;
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
